<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcas</title>
</head>
<body>
    {% extends "base.html" %}{% block content %}

    <div>
        <h1>marcas disponibles</h1>
        <a href="{{url_for('add_maarca')}}"> Agregar Marca</a>

        <ul>
            {% for marca in marca %}
            <li>
                <h3>{{marca.nombre}}</h3>
                <p>Modelo:{{marca.modelo}}</p>
                <p>serie:{{marca.serie}}</p><br>
                <a href="{{url_for('edit_marca, id=marca.id')}}">Editar</a>
                <br>
                <form action="{{ url_for('delete_marca', id=marca.id) }}" method="post">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% endblock %}
</body>
</html>