<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agregar Moto</title>

</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <h2>Agregar moto</h2>
    <form method="post" enctype="multipart/form-data">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>
        
        <label for="cantidad">Cantidad:</label>
        <input type="number" id="cantidad" name="cantidad" required><br>
        
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" required><br>
        
        <label for="foto">Foto:</label>
        <input type="file" id="foto" name="foto"><br>
        
        <label for="marca_id">Marca:</label>
        <select id="marca_id" name="marca_id" required>
            {% for marca in marcas %}
            <option value="{{ marca.id }}">{{ marca.nombre }}</option>
            {% endfor %}
        </select><br>
        
        <button type="submit">Agregar Moto</button>
    </form>
    {% endblock %}
</body>
</html>
