<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cabeza de paginas

    </title>
</head>
<body>

    <header>
    <h1>Bienvenido a MUNDOSBK, {{ user_nombre }}!</h1>
    <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
    <!--menu -->
    <nav>
        <ul>
            <li><a href="/index">Inicio</a></li>
            <li><a href="/motos">Motos</a></li>
        </ul>
    </nav>
    </header>

    <main>
        {% block content %}
        {% endblock  %}
    </main>
</body>
</html>
