<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>motos disponibles</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div> 
        <h1>MOTOS DISPONIBLES</h1>

        <ul>
            {% for moto in moto  %}
            <li>
                <h3>{{moto.nombre}} </h3>
                <p>Precio:{{moto.precio}}</p>
                <p>Diponibles:{{moto.cantidad}}
                <br>
                <td>
                    {% if moto.foto %}
                        <img src="{{ url_for('static', filename='uploads/' ~ moto.foto) }}" 
                        alt="Foto de {{ moto.nombre }}" width="100">
                    {% else %}
                        No disponible
                    {% endif %}
            </li>
            {% endfor %}
        </ul>
    {% endblock content %}

</body>
</html>