<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Historial de Búsqueda</title>
    <style>

    
        .container {
            max-width: 800px;
            margin: 2rem auto;
            padding: 1.5rem;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .no-history {
            text-align: center;
            color: #666;
        }
        li:last-child {
            border-bottom: none;}


        

    </style>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="container">
        <h1>Historial de Búsqueda</h1>
        <ul>
            {% if historial_busqueda %}
                {% for busqueda in historial_busqueda %}
                    <li>{{ busqueda }}</li>
                {% endfor %}
            {% else %}
                <li class="no-history">No hay historial de búsqueda.</li>
            {% endif %}
        </ul>
    </div>
    {% endblock %}
</body>
</html>
