<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
</head>
<body>

    {% extends "base.html" %} {% block content %}
    <h1>pagina de inicio </h1>
    
    <div class="container">
        <form action="{{ url_for('buscar_motos') }}" method="get">
            <label for="query">Buscar:</label>
            <input type="text" name="query" id="query" placeholder="Ingrese marca o nombre">
            <button type="submit">Buscar</button>
        </form>
        <h2>Bienvenido a MUNDOSBK, {{ user_nombre }}</h2>


<!--contenido de afuera -->
        <div class="motorcycle-grid">
            <div class="motorcycle-card">
               <!-- <img src="../static/uploads/cbr.jpg" alt="Moto deportiva negra, estilo melo" class="motorcycle-image" width="640" height="480">-->
                <div class="motorcycle-info">
                    <h3>SuperSport 950</h3>
                    <p>Potencia y agilidad en un diseño impresionante.</p>
                    <a href="https://moto-enthusiast.example.com/supersport-950" class="cta-button">Más información</a>
                </div>
            </div>
            <div class="motorcycle-card">
                <!--<img src="{{ url_for('static', filename='../static/uploads/cbr.jpg') }}" alt="Moto custom negra, estilo clásico" class="motorcycle-image" width="640" height="480">-->
                <div class="motorcycle-info">
                    <h3>Cruiser Deluxe</h3>
                    <p>Confort y estilo para largos viajes por carretera.</p>
                    <a href="https://moto-enthusiast.example.com/cruiser-deluxe" class="cta-button">Más información</a>
                </div>
            </div>
            <div class="motorcycle-card">
                <!--<img src="https://placeimg.com/640/480/tech/3" alt="Moto de aventura verde, preparada para todo terreno" class="motorcycle-image" width="640" height="480">-->
                <div class="motorcycle-info">
                    <h3>Adventure Explorer</h3>
                    <p>Domina cualquier terreno con esta bestia todoterreno.</p>
                    <a href="https://moto-enthusiast.example.com/adventure-explorer" class="cta-button">Más información</a>
                </div>
            </div>
        </div>
    </div>

    {% endblock  %}
</body>
</html>