<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>motos</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div> 
        <h1>MOTOS DISPONIBLES</h1>
        <a href="{{url_for('add_moto') }}">Agregar Nueva Moto </a>

        <ul>
            {% for moto in motos  %}
            <li>
                <h3>{{moto.nombre}} </h3>
                <p>Precio:{{moto.precio}}</p>
                <p>Diponibles:{{moto.cantidad}}
                <br>
                <td>
                    {% if moto.foto %}
                        <img src="{{ url_for('static', filename='uploads/' ~ moto.foto) }}" 
                        alt="Foto de {{ moto.nombre }}" width="100">
                    {% else %}
                        No disponible
                    {% endif %}
                </td>
                <br>
                <a href="{{url_for('edit_moto', id=moto.id)}}">Editar </a>
                <br>
                <form action="{{ url_for('delete_moto', id=moto.id) }}" method="post">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    {% endblock content %}

</body>
</html>