<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ moto.nombre }}</title>
</head>
<body>
    <h1>{{ moto.nombre }}</h1>
    <p>Precio: {{ moto.precio }}</p>
    <p>Disponibles: {{ moto.cantidad }}</p>

    <h2>Comentarios:</h2>
    <ul>
        {% for comentario in comentarios %}
            <li>{{ comentario.comentario }} - Usuario ID: {{ comentario.idUsuarios }}</li>
        {% endfor %}
    </ul>

    <h2>Agregar un Comentario:</h2>
    <form action="{{ url_for('ver_moto', moto_id=moto.id) }}" method="post">
        <textarea name="comentario" placeholder="Escribe tu comentario..."></textarea>
        <button type="submit">Enviar Comentario</button>
    </form>
</body>
</html>

